@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stone countertop tool estimation</h1>
    
</div>

<div>
    <a asp-action="ListTimeTables" asp-controller="TimeTable">View scheduled installations</a>
    <a asp-action="ListInventories" asp-controller="Inventory">View Inventories</a>

</div>
